$breakpoints: (
    mobile: 668px,
    tablet: 992px
);

@mixin breakpointUp($size) {
    $breakpoint-values: map-get($breakpoints, $size);

    @media screen and (min-width: $breakpoint-values) {
        @content;
        
    }
}

@mixin breakpointDown($size) {
    $breakpoint-values: map-get($breakpoints, $size);

    @media screen and (max-width: $breakpoint-values) {
        @content;

    }
}